
/*-------------------------------------General---------------------------------------------*/

body {
    font-family: 'Roboto Mono', monospace;
    background: #323a53;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

/*-------------------------------------Colours---------------------------------------------*/

.navbar {
    background-color: #323a53;
}

.navbar li a {
    color: rgba(245, 245, 245, 0.856);

}

#active {
    background-color: #cc7722;
}

nav li a:hover {
    background-color: #536068;
}

footer {
    background-color: #323a53;
    color: #cc7722;
    z-index: 400;
}

footer i {
    color: rgba(245, 245, 245, 0.856);
}

footer i:hover {
    color: #536068;
}

.hamburger {
    color: #cc7722;
}

.home {
    background-color: #323a53;
    color: rgba(245, 245, 245, 0.856);
}


#profile-pic {
    border: 2px solid #323a53;
}

.timeline {
    background-color:rgba(245, 245, 245, 0.856);
}

.timeline-left {
    border-right: 2px solid rgba(245, 245, 245, 0.856);
}

.timeline-right {
    border-left: 2px solid rgba(245, 245, 245, 0.856);
}

.timeline-item-left:after {
    background: #cc7722;
}

.timeline-item-right:after {
    background: #cc7722;
}

.skills-heading {
    color: rgba(245, 245, 245, 0.856);
}

.skills i {
    background-color: rgba(245, 245, 245, 0.856);
    border: 2px solid black;
    color: black;
}

.progress {
    background-color: #536068;
}

.skill-box {
    background-color: rgba(245, 245, 245, 0.856); 
    border: 2px solid black;
    opacity: 0.9;
}

.progress-bar {
    border: 2px solid #536068;
}

.progress-bar-striped {
    background-color: #cc7722 !important;
}

.projects {
    background-color: rgba(245, 245, 245, 0.856);
}

.media p {
}

.media p:hover {
    background-color: #cc7722; 
}

.github-icon{
    color: #cc7722;
}

.contact {
    color: rgba(245, 245, 245, 0.856);
}

.contact .container {
    background-color: #999999;
}

.contact form label {
    color: black;
}
#submit-button {
background-color: #cc7722;
color: black;
}

/*-------------------------------------Navbar---------------------------------------------*/


nav li a {
    letter-spacing: 3px;
}

/*-------------------------------------Mobile Navbar---------------------------------------------*/

.navbar-toggler {
    border: none;
}

.hamburger {
    font-size: 50px;
}

.navbar-nav .nav-link {
    margin-top: 5px;
}

@media screen and (max-width:768px) {
    .navbar {
        margin: 0 0 0 0;
    }
}

/*-------------------------------------Footer---------------------------------------------*/

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer i {
    padding-top: 15%;
    margin-right: 20px;
    margin-left: 20px;
}

/*-------------------------------------Home---------------------------------------------*/

.home {
    padding-bottom: 50px;
}

.home h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
}

.home p {
    text-align: center;
    margin-top: 40px;
}

.inline-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inline-block i {
    margin-left: 20px;
    margin-right: 20px;
}

#plus-icon {
    margin-top: 10px;
}

.inline-block img {
    height: 48px;
    width: 48px;
}

#profile-pic {
    margin-top: 20px;
}

/*-------------------------------------About---------------------------------------------*/

.timeline {
    padding-bottom: 50px;
}

.timeline-heading {
    padding-top: 70px;
    margin-bottom: 50px;
}

.timeline-left {
    margin-left: 1px;
    padding-bottom: 20px;
}

.timeline-right {
    margin-right: 1px;
    padding-bottom: 20px;
}

.timeline-item-left:before {
    position: absolute;
    top: 3em;
    display: block;
}

.timeline-item-left:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 0.5em;
    position: absolute;
    right: -6px;
    border-radius: 12px;
    content: '';
}

.timeline-item-right:before {
    position: absolute;
    top: 3em;
    display: block;
}

.timeline-item-right:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 0.5em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
}

.history-items {
    margin-bottom: 30px;
}

/*-------------------------------------Skills---------------------------------------------*/

.skills {
    margin-bottom: 100px;
}

.skills-heading {
    padding-top: 70px;
}

.skills i {
    padding: 7px;
    border-radius: 15px;
}

.progress {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

#progress-container {
    margin-top: 100px;
}

.skill-box {
    min-width: 100%;
    min-height: 100%;
    border-radius: 15px;
}

.skill-box p {
    padding: 20px; 
}

/*-------------------------------------Projects---------------------------------------------*/


.projects-heading {
    padding-top: 70px;
    margin-bottom: 50px;
}

.media {
    margin-bottom: 50px;
}

.media p {
    margin-top: 10px;
    padding: 5px;    
}

.arrow {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
}

h6 {
    text-align: center;
    padding: 0;
    margin: 0 25%;
    font-style: italic;
}

.fa-arrow-down {
    margin-top: 20px;
}
/*-------------------------------------Contact---------------------------------------------*/

.contact {
    margin-bottom: 100px;
    opacity: 0.9;
}

.contact h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}
.contact .container {
    width: 75%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
    text-transform: uppercase; 
}

.form-group {
margin-bottom: 30px;
}