
/*-------------------------------------General---------------------------------------------*/

body {
    font-family: 'Roboto Mono', monospace;
    background: #213458;
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 100px;
    font-size: 2em;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px; 
}

section {
    padding-bottom: 50px;
}

.sub-link {
    margin-top: 30px;
    text-align: center;
}

.sub-icon {
    margin-top: 20px;
}

/*-------------------------------------Colours---------------------------------------------*/

/*-- Navbar --*/
.navbar {
    background-color: #213458;
}

.navbar li a {
    color: rgba(245, 245, 245, 0.856);
}

nav li a:hover {
    background-color: #cc7722;
}

.hamburger {
    color: #cc7722;
}

/*-- Footer --*/

footer {
    background-color: #213458;
    color: #cc7722;
    z-index: 400;
}

footer i {
    color: rgba(245, 245, 245, 0.856);
}

footer i:hover {
    color: #536068;
}

/*-- Home --*/

.home {
    background-color: #213458;
    color: rgba(245, 245, 245, 0.856);
}

#profile-pic {
    border: 2px solid #213458;
}

/*-- About --*/

.timeline, .projects{
    background-color:rgba(245, 245, 245, 0.856);
}

.timeline-left {
    border-right: 2px solid black;
}

.timeline-right {
    border-left: 2px solid black;
}

.top-timeline-box h4 {
    border-bottom: 2px solid #cc7722;
}

.dot-left, .dot-right {
    background-color: #cc7722;
}

.sub-icon{
    color: #cc7722;
}

/*-- Skills --*/

.skills-heading {
    color: rgba(245, 245, 245, 0.856);
}

.skills i {
    background-color: rgba(245, 245, 245, 0.856);
    border: 2px solid black;
    color: black;
}

.progress {
    background-color: #536068;
}

.progress-bar {
    border: 2px solid #536068;
}

.progress-bar-striped {
    background-color: #cc7722 !important;
}

.good-ux-box {
    background-color: rgba(245, 245, 245, 0.856); 
    border: 4px solid black;
    opacity: 0.9;
}

/*-- Projects --*/

.media .btn:hover {
    background-color: #cc7722; 
}

/*-- Contact --*/

.contact-heading {
    color: rgba(202, 202, 202, 0.856);
}

.contact-form {
    background-color: rgba(202, 202, 202, 0.856);
    border: 4px solid black;
}

.contact form label {
    color: black;
}
#submit-button {
background-color: #cc7722;
color: black;
}

/*-------------------------------------Navbar---------------------------------------------*/

.collapse .navbar-collapse {
    margin-right: 20px;
}

.navbar-brand img {
    height: 40px;
    width: 70px;
}

nav li a {
    letter-spacing: 3px;
}

/*-------------------------------------Mobile Navbar---------------------------------------------*/

.navbar-toggler {
    border: none;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.hamburger {
    font-size: 50px;
}

.navbar-nav .nav-link {
    margin-top: 5px;
}

@media screen and (max-width:768px) {
    .navbar {
        margin: 0 0 0 0;
    }
}

/*-------------------------------------Footer---------------------------------------------*/

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer i {
    padding-top: 15%;
    margin-right: 20px;
    margin-left: 20px;
}

/*-------------------------------------Home---------------------------------------------*/

.home p {
    text-align: center;
    margin-top: 40px;
}

.inline-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.inline-block i {
    margin-left: 20px;
    margin-right: 20px;
}

.fa-plus {
    margin-top: 10px;
}

.inline-block img {
    height: 48px;
    width: 48px;
}

#profile-pic {
    margin-top: 20px;
}

/*-------------------------------------About---------------------------------------------*/

.top-timeline-box {
    position: relative;
}

.dot-left {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    bottom: -5px;
    right: -22px;
    border-radius: 12px;
    content: '';
}

.dot-right {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: -22px;
    border-radius: 12px;
    content: '';
}

.timeline-left {
    margin-left: 1px;
    padding-bottom: 20px;
}

.timeline-right {
    margin-right: 1px;
    padding-bottom: 20px;
}

.history-items {
    margin-bottom: 30px;
}


/*-------------------------------------Skills---------------------------------------------*/

.skills-sub-header {
    text-align: center;
    color: rgba(245, 245, 245, 0.856);
    margin: 40px 0;
}

.skills i {
    padding: 7px;
}

.skills-box {
    padding-bottom: 50px; 
}

.progress {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

.good-ux-box {
    width: 100%;
    height: 85%;
    padding: 7px;
}

.skill-box p {
    padding: 20px; 
}

/*-------------------------------------Projects---------------------------------------------*/

.project-box {   
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:50%;
    width: 100%;
}

@media only screen and (max-width:768px) {
    .project-box img {   
    width: 50%;
    }
}


.media {
    margin-bottom: 50px;
}

.media img {
    margin-bottom: 10px;   
}

.project-name {
    display: inline-block;
}

h6 {
    text-align: center;
    padding: 0;
    margin: 0 25%;
    font-style: italic;
}

/*-------------------------------------Contact---------------------------------------------*/

.contact-form {
    margin: auto;
    margin-bottom: 100px;
    opacity: 0.9;
    width: 75%;
    padding: 10px;
    padding-top: 10px;
    text-transform: uppercase; 
}

.form-group {
    margin-bottom: 30px;
}